<%= render partial: "visitor_header" , locals: { action_name: "get"}%>

<section>
    <p><%= link_to( "Market Admin", market_admins_path ) %></p>
</section>
<section>
    <p><%= link_to( "Vendor", vendors_path ) %></p>
</section>
