<%= render partial: "visitor_header" , locals: { action_name: "get"}%>

<section>
    <p><%= link_to( "Market Admin", admin_home_path ) %></p>
</section>
<section>
    <p><%= link_to( "Vendor", vendor_home_path ) %></p>
</section>
