<%= render partial: "vendor_header" , locals: { action_name: "get"}%>

<h1>Welcome Vendor!</h1>

<section>
    <p><%= link_to( 'Create a new Vendor', new_vendor_path ) %></p>
</section>

<section>
    <p><%= link_to( 'Create a new Product', new_product_path ) %></p>
</section>
