<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>
      <% @little_title = 'welcome to'%>
      <%= @title = '~FARMAR HELL~'%>
    </title>
  </head>
  <body>
    <main>
      <h2><a class='main-page-middle' href="http://localhost:3000/market">ACT AS A MARKET</h2>
      <h2><a class='main-page-middle' href="http://localhost:3000/vendor">ACT AS A VENDOR</h2>
    </main>
  </body>
</html>
