<section>
    <p><%= link_to( "Markets", markets_for_vendors_path ) %></p>
</section>

<section>
    <p><%= link_to( "Vendors", vendors_path ) %></p>
</section>

<section>
    <p><%= link_to( "Products",products_path ) %></p>
</section>
