<!-- <%= link_to "Market Admin Home", market_admins_path %> -->


<h1>MarketAdmins#edit</h1>
<p>Find me in app/views/market_admins/edit.html.erb</p>

<%= render partial: "form" , locals: { action_name: "update"}%>
