<div class"routing_links">
  <section class="markets_link">
      <p><%= link_to( "Markets", show_markets_path ) %></p>
  </section>

  <section class="vendors_link">
      <p><%= link_to( "Vendors", show_vendors_path ) %></p>
  </section>

  <section class="products_link">
      <p><%= link_to( "Products", show_products_path ) %></p>
  </section>
</div>
