
<header>
  <h1>Welcome to Joanna &amp; Melissa's Farmers Markets!</h1>
</header>


<section>
  <div class="windows"
    <td><%= link_to 'View Markets!', market_index_path %></td>
  </div>
  <div class="windows">
  <td><%= link_to 'View Vendors!', vendor_index_path %></td>
  </div>
</section>
