<h1> This is Where all the Markets live!</h1>
<p>
  This will include a link for each market to its show page.
</p>

<ul>
  <% @market.each do |i| %>
  <li>
    <%= link_to "#{i.name}", user_market_path(i) %>
  </li>
  <% end %>
</ul>
