<div class="overall-header-text">
  <h1>List of Markets</h1>
</div>

<ul>
  <% @market.each do |i| %>
  <li class="list-of-markets">
    <%= link_to "#{i.name}", user_market_path(i) %>
  </li>
  <% end %>
</ul>
