<body class="home_bg">
<h1>Welcome To Farmers' Market</h1>



<p><%= link_to 'click here if you\'re a market', markets_path %></p>

<p><%= link_to 'click here if you\'re a vendor', vendors_path %></p>

</body>
