<head>
<title><%= @header = "Welcome to Farmers Market" %></title>
</head>
<body class="home_bg">



<div class="home-button"><h3><%= link_to 'Continue as a Vendor', vendors_path %></h3></div>


<div class="home-button"><h3><%= link_to 'Continue as a Market', markets_path %></h3></div>


</body>
