<header>
  <h1>Farmers Market Finder</h1>
</header>

<main class="splash">
  <p>
    <%= link_to "Marketeer, this way", markets_path %>
  </p>
  <p>
    <%= link_to "Vendor, enter here", vendors_path %>
  </p>
</main>
