<h1 class='landing-page-header'>FarMar Rails</h1>

<header>
  <nav>
    <%= link_to "Login as a Vendor", vendors_path, :class => "login" %>
    <%= link_to "Login as a Market", markets_path, :class => "login" %>
  </nav>
</header>

<nav>
  <%= link_to "View all Markets", markets_path, :class => "primary-btn" %>
</nav>
