<h1 class='landing-page-title'>FarMar Rails</h1>

<header class='landing-page-header'>
  <nav>
    <%= link_to "Login as a Vendor", vendors_path, class: "page-link login" %>
    <%= link_to "Login as a Market", markets_path, class: "page-link login" %>
  </nav>
</header>

<nav>
  <%= link_to "View all Markets", markets_path, :class => "primary-btn" %>
</nav>
