<h1>Welcome#index</h1>
<p>Find me in app/views/welcome/index.html.erb</p>

 <%= link_to "Browse as Vendor", vendors_path %>

 <%= link_to "Browse as Market", markets_path %>

 <%= link_to "View all Markets", markets_path %>
