<h1>HOME</h1>

<ul>
  <li><%=link_to "LIST OF MARKETS", farmers_markets_path%></li>
  <li><%=link_to "CONTINUE AS MARKET", farmers_market_views_path%></li>
  <li><%=link_to "CONTINUE AS VENDOR", farmers_vendors_path%></li>
</ul>
