<body id='home-page'>

<section>
  <h2>FarMar Finder by Lauren & Jessica</h2>
  <br />
  <h3>Use as...</h3>
</section>

  <nav class='front-page-buttons'>
    <%= link_to("Market", markets_home_path) %>
    <%= link_to("Vendor", vendors_home_path) %>
    <%= link_to("Guest", markets_index_path) %>
  </nav>
</body>
