<h1>Welcome to Lauren & Jessica's FarMar Explosion.</h1>

<h3>Use as...</h3>
<%= link_to("Market", markets_home_path) %>
<%= link_to("Vendor", vendors_home_path) %>
<%= link_to("Guest", markets_index_path) %>
