<h2>Am I a user, a market, or a vendor?</h2>

<%= link_to "Show me the markets", homes_show_markets_path %>
<%= link_to "I am a market!", markets_path %>
<%= link_to "I am a vendor!", vendors_path %>
