<h3 id="centered">What would you like to do?</h3>

<div><%= link_to "Find a market!", homes_show_markets_path %></div>
<div><%= link_to "I am a market!", markets_path %></div>
<div><%= link_to "I am a vendor!", vendors_path %></div>
