<h3><%= "#{@market.name} details:" %></h3>

<h4>Address</h4>
<p>
  <%= @market.address %><br>
  <%= "#{@market.city}, #{@market.state} #{@market.zip}" %><br>
</p>

<h4>Vendors</h4>
  <% @vendors.each do |vendor| %>
  <ul>
  <li><%= vendor.name %></li>
</ul>
  <% end  %>
