
<nav>
  <ul>
      <li class="markets_link"><%= link_to( "Markets", markets_for_vendors_path ) %></li>
      <li class="vendors_link"><%= link_to( "Vendors", vendors_path ) %></li>
      <li class="products_link"><%= link_to( "Products", products_path ) %></li>
  </ul>
</nav>
