<section>
  <header>
    <h1>Edit a Product</h1>
  </header>
  <%= form_for haha_product, url: update_product_path do |f| %>
  <p>
    <%= render partial: 'form', locals: {:f => f} %>
    <div>
      <%= f.submit 'Submit'%>
    </div>
  </p>
  <% end %>
</section>
