<head>
<title><%= @header = "Editing Vendor:" + @vendor.name %></title>
</head>
<div class="container">
<body class="market-view">

<%= render partial: "form", locals: {http_method: :patch,
  http_action: market_vendor_path({market_id: @market.id, vendor_id: @vendor})} %>
