<div class="overall-header-text">
  <h1>Vendors Main Page</h1>
</div>

<h1>Please select a Vendor from the list below:</h1>

<ul>
  <% @vendor.each do |i| %>
    <li class="list-of-vendors">
      <%= link_to "#{i.name}", vendor_path(i) %>
    </li>
  <% end %>
</ul>
