<div class="overall-header-text">
  <h1>Vendors Main Page</h1>
</div>

<h1> This is the page where vendors will choose whether they want to create a create, edit, or delete a product, OR create a sale or see a list of their sales.</h1>
