<h1>Vendors Account</h1>
<ul>
  <% @vendors.each do |vendor| %>
  <%= link_to vendor.name, show_path(vendor.id) %>
    <li><%= button_to "Edit", edit_path(vendor.id) %></li>
  <% end %>
  <p></p>
  <li><%= link_to "Create a New Vendor", new_path %></li>


</ul>
