<header>
  <h1>All Vendors</h1>
  <nav>
    <ul>
      <li><%= link_to "Home", root_path %></li>
    </ul>
  </nav>
</header>

<main>
  <ul>
  <% @vendors.each do |vendor| %>
    <li>
      <%= link_to "#{ vendor.name }", vendor_path(vendor) %>
    </li>
  <% end %>
  </ul>
</main>

<!-- DELETE THIS BEFORE SUBMITTING! -->
<hr>
<p>This is the vendors view index.html.erb</p>
