<!-- TODO: Refactor to move Ruby code to Model/ Controller/Helper as appropriate -->

Welcome to the vendor portal!

<h3>Here's a list of our vendors: </h3>

<table>
<% @vendors.each do |vendor| %>
<tr>
  <td><%= link_to("#{vendor.name}", vendor_products_path(vendor.id)) %></td>
<% end %>
</tr>
</table>
