<h1>Vendors#new</h1>
<p>Find me in app/views/vendors/new.html.erb</p>

<% if @vendor.errors.any? %>
  <ul class="errors">
    <% @vendor.errors.each do |column, message| %>
      <li>
        <strong><%= column.capitalize %></strong> <%= message %>
      </li>
    <% end %>
  </ul>
<% end %>

<%= render partial: 'form', locals: { vendor_create_or_update: [@market, @market.vendors.build]} %>
