<section>
    <h1>Add a New Sale</h1>
    <%= form_for @sale, url: createSale_path do |f| %>
      <ul>
        <li>
          <%= f.label "Sale Amount:" %>
          <%= f.text_field :amount, :class => "amount" %>
        </li>
      </ul>
      <%= f.submit 'Add'%>
    <% end %>
</section>
