<h1>Vendor: <%= "#{ @vendor.name }" %></h1>

<h2>Your products...</h2>
<h4>make: create a product link.</h4>
<% @products.each do |prod| %>
    <p>
        <%= "#{ prod.name }" %>
    </p>
<% end %>

<%= link_to 'or, go back', vendors_path %>
