<table>
<tr>
  <th>Vendor Name</th>
  <th> Jobs Provided</th>
  <th>Market ID</th>
  <th colspan="2"></th>
</tr>
    <tr>
      <td><%= @myvendor.name %> </td>
      <td><%= @myvendor.num_employees %></td>
      <td><%= @myvendor.market_id %></td>
    </tr>

</table>
