<h1>Here's your vendor</h1>

<h3><%= "#{@vendor.name} details:" %></h3>

<h4>Info</h4>
<p>
  <%= @vendor.market_id %><br>
  <%= "#{@vendor.num_employees}" %><br>
</p>

<!-- <h4>Vendors</h4> -->
  <%# @vendors.each do |vendor| %>
  <!-- <ul> -->
  <!-- <li><%# vendor.name %></li> -->
<!-- </ul> -->
  <%# end  %>

<%= link_to "Edit", edit_vendor_path %>
