<h1>Vendor: <%= "#{ @vendor.name }" %></h1>

<h2><%= link_to("Your products...", vendor_products_path(@vendor.id)) %></h2>
<h2><%= link_to("Your sales...", vendor_sales_path(@vendor.id)) %></h2>


<%= link_to 'or, go back', vendors_path %>
