<head>
  <title><%= @page_name = Vendor.find(params[:vendor_id]).name + "'s Product'"%></title>
</head>



<%= render partial: "product_form", locals: {path: vendor_product_path, http_method: :patch} %>
