<head>
  <title><% @page_name = Vendor.find(params[:vendor_id]).name %></title>
</head>

<h4 class='name-title'>Add new product</h4>


<%= render partial: "product_form", locals: {path: vendor_product_index_path, http_method: :post} %>
