<h1> Karin and Kate's FarMar on Rails </h1>

<%= link_to "Enter as a Market", markets_path %>

<%# link_to "Enter as a Vendor", market_vendors_path %>

<!-- TODO: Decide where Enter as a Vendor goes. Right now, with vendors nested within markets, you need to provide a market_id in order to get at the vendor index. -->
