<h2> Market Portal! </h2>

<ul>
  <li>
    <h3><%= link_to "See a list of all Markets", markets_path %></h3>
  </li>
  <li>
    <h3><%= link_to "Create a new Market", new_market_path %></h3>
  </li>
</ul>
