<h2> Vendor Portal! </h2>
<p> Currently, Vendors exist in the context of a market. Options are: 
  <ol>
    <li> Have the vendor pick the market they belong to, and then going on to edit/add themselves there.</li>
    <li> Reorganizing our routes so that vendors can exist outside of a Market (MORE COMPLICATED REFACTOR), and we can show the full list of vendors and a way for them to add a new vendor independently.</li>
  </ol>
</p>
