<h2> Vendor Portal! </h2>
<p> Currently, Vendors exist in the context of a market. Options are:
  <ol>
    <li> EXISTING VENDORS: SELECT YOURSELF. Have a dropdown that lists all the vendors, once the user selects the vendor, route them to the corresponding market/:market_id/vendor/:id page.</li>
    <li> NEW VENDORS: SELECT YOUR MARKET. Have the vendor pick the market they belong to, and then going on to edit/add themselves there. <strong>(This appears to be optional, as it is actually a thing that Markets can do.)</strong></li>
    <li> Reorganizing our routes so that vendors can exist outside of a Market (MORE COMPLICATED REFACTOR), and we can show the full list of vendors and a way for them to add a new vendor independently.</li>
  </ol>
</p>
