<h1>Please choose your market.</h1>

<h1><%= link_to "Make a new Market", new_market_path %> </h1>

<% @markets.each do |market| %>
<ul>

  <li><%= link_to "#{market.name}", market_path(market) %>
    <%= link_to "Edit", edit_market_path(market) %>

  </li>



</ul>
<% end %>
