<h1>Welcome Market Organizers</h1>

<button><%= link_to( "Create a New Market", newmarket_path) %></button>

<h2> Markets </h2>
<article class="markets_list">
  <% @allmarkets.each do |mar| %>
    <ul class="market_row">
      <li>
        <%= link_to "#{mar.id}. #{mar.name}", showthemarket_path(mar[:id]) %>
      </li>
    </ul>
  <% end %>
</article>
