<div class="overall-header-text">
  <h1>Markets Main Page</h1>
</div>
<p>
<%= link_to "Add New Market", new_market_path, method: :get%>
</p>
<table class="list-of-markets">
  <tbody>
    <tr>
      <% @market.all.each do |market| %>
      <td><%= link_to "#{market.name}", market_path(market) %> </td>
      <td><%= link_to image_tag("/assets/edit.svg"), edit_market_path(market), method: :get%></td>

    </tr>
    <% end %>
  </tbody>
</table>
