<h2>All Markets</h2>

<ul class="marketlist">
  <li><%= button_to("Add a Market", markets_new_path, method: :get) %></li>
<% @markets.each do |market| %>
  <li><%= link_to("#{market.name}", show_market_path(market)) %><%= ": #{market.city}, #{market.state}"%></li>
<% end %>
</ul>
