<h1 class="markets-header">All Markets</h1>

<header>
  <nav>
    <%= link_to "Go Home", root_path, :class => "page-link" %>
  </nav>
</header>

<%= link_to "Create a new Market", new_market_path, :class => "primary-btn add-markets" %>

<ul class="contained-list">

<% @markets.each do |market| %>
    <li>
      <%= link_to "#{market.name}", market_path(market) %>
    </li>
<% end  %>

</ul>
