<h2 class="addmarket">All Markets</h2>

<p class="addmarket">
  <%= button_to("Add a Market", markets_new_path, method: :get) %>
</p>

<%= render partial: 'markets/market_index', locals: {path: 'show_market_path(market)'}%>
