<h2 class="addmarket">All Markets</h2>

<p class="addmarket">
  <%= button_to("Add a Market", markets_new_path, method: :get) %>
</p>

<ul class="marketlist">
<% @markets.each do |market| %>
    <li><%= link_to("#{market.name}", show_market_path(market)) %><%= ": #{market.city}, #{market.state}"%></li>
<% end %>
</ul>
