<h1>Markets#index</h1>
<p>Find me in app/views/markets/index.html.erb</p>

<ul>

<% @markets.each do |market| %>
    <li>
      <%= link_to "#{market.name}", market_path(market) %>
    </li>
<% end  %>

</ul>
