<header>
  <nav>
    <h1><%= link_to "FarMar / ", root_path, class: "page-link" %></h1>
    <h1>    <%= link_to "Markets / ", markets_path, class: "page-link" %></h1>
    <h2 class="user-header">Create a Market</h2>
  </nav>
</header>

<div class='form-header'>
  <h1>Market Details</h1>
</div>

  <%= render partial: 'form', locals: {submit_url: markets_path, http_method: :post } %>
