<h1>Show Page Listing the Vendors of A Market</h1>

<ul>
  <li> <%@market.vendors.all.each do |vendor|%>
      Vendor <%=vendor.name%>
      <%= button_to "Edit Vendor", [:edit, @market, @vendor], method: :get%>

      <%end%>
  </li>
</ul>
