 html{
   /* This image will be displayed fullscreen */
   background: url('basket_background.jpg') no-repeat 50% 50% fixed;
 	 background-size: cover;
 }

 body{
  font-family: 'Quando', serif;
   color: rgb(224,224,235);
   padding-left: 8rem;
 }

 .landing-page-title {
   margin: 8rem 0rem 0 0rem;
   font-size: 3.5rem;
   text-shadow: 4px 0 0 rgba(0, 0, 0, 0.51);
  }

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  flex-direction: row;
  background-color: rgba(0,0,0,0.4);
  height: 3rem;
  line-height: 3rem;
}

h1, h2 {
  margin: 0;
}

.landing-page-header {
  flex-direction: row-reverse;

}

header > nav {
  display: flex;
  flex-direction: row;
}

a {
  text-decoration: none;
  color: rgb(224,224,235);
}

.page-link {
  display: inline-block;
  margin: 0 0.5rem;
}

.login {
  margin-right: 0.5rem;
  margin-left: 0;
}

.page-link:not(:last-child):after {
  color: rgb(155, 155, 172);
  content:' |'
}

.page-link:hover {
  color: rgb(155, 155, 172);
}

.primary-btn {
  display: inline-block;
  background-color: rgb(78, 124, 75);
  padding: 1rem .7rem;
  border-radius: .6rem;
  margin: 4rem 0rem 0 7rem;
  border: 1px solid rgb(103, 117, 103);
  color: rgb(240, 249, 240);
  box-shadow: 3px 3px 7px 0px rgba(50, 50, 50, 0.75);
}

.primary-btn:hover {
  background-color: rgb(72, 134, 68);
}

.contained-list {
  font-size: 1rem;
  margin: 2rem 0 0 0;
  position: fixed;
  height: 60%;
  width: 34.25rem;
  /*background-color: blue;*/
  overflow: scroll;
  background-color: rgba(0, 0, 0, 0.51);
  border-radius: 1rem;
  padding: 1rem;
}

.add-markets {
 margin: 9rem 0rem 0 12.5rem;
 font-family: 'Quando', serif;
}

.list-item {
  margin: 0 .2rem;
  list-style: none;
  height: 1.5rem;
  text-shadow: 1px 1px black;
  padding: .2rem;
  overflow: hidden;
}

.list-item:hover {
  font-weight: bold;
  font-size: 1.2rem;
}

/*market details*/
.market-address{
  display: flex;
  flex-direction: row;
  align-items: flex-end;
}

table {
  margin: 4rem 0 0 2rem;
  padding: .5rem;
  background-color: rgba(0, 0, 0, 0.51);
  text-shadow: 1px 1px black;
  border-radius: 1rem;
}

.edit-markets {
  margin-bottom: 1.5rem;
}

th {
  padding: 0;
}

td {
  padding: 0 1rem 0 1rem;
  font-family: 'Didact Gothic', sans-serif;
}
