 html{
   /* This image will be displayed fullscreen */
   background: url('basket_background.jpg') no-repeat 50% 50% fixed;
 	 background-size: cover;
 }

 body{
  font-family: 'Quando', serif;
   color: rgb(224,224,235);
   padding-left: 8rem;
 }

 .landing-page-title {
   margin: 8rem 0rem 0 0rem;
   font-size: 3.5rem;
   text-shadow: 4px 0 0 rgba(0, 0, 0, 0.51);
  }

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  flex-direction: row;
  background-color: rgba(0,0,0,0.4);
  height: 3rem;
  line-height: 3rem;
}

h1, h2 {
  margin: 0;
}

h3 {
  font-size: 2rem;
  text-shadow: 2px 0 0 rgba(0, 0, 0, 0.51);

}

.landing-page-header {
  flex-direction: row-reverse;

}

header > nav {
  display: flex;
  flex-direction: row;
}

a {
  text-decoration: none;
  color: rgb(224,224,235);
}

.page-link {
  display: inline-block;
  margin: 0 0.5rem;
}

.login {
  margin-right: 0.5rem;
  margin-left: 0;
}


.page-link:after {
  color: rgb(155, 155, 172);
  content:' |'
}

.login:last-child:after {
  content:' '
}

.page-link:hover {
  color: rgb(155, 155, 172);
}

.primary-btn {
  display: inline-block;
  background-color: rgb(78, 124, 75);
  padding: 1rem .7rem;
  border-radius: .6rem;
  margin: 4rem 0rem 0 7rem;
  border: 1px solid rgb(103, 117, 103);
  color: rgb(240, 249, 240);
  box-shadow: 3px 3px 7px 0px rgba(50, 50, 50, 0.75);
}

.primary-btn:hover {
  background-color: rgb(72, 134, 68);
}

.contained-list {
  font-size: 1rem;
  margin: 2rem 0 0 0;
  position: fixed;
  height: 60%;
  width: 34.25rem;
  /*background-color: blue;*/
  overflow: scroll;
  background-color: rgba(0, 0, 0, 0.51);
  border-radius: 1rem;
  padding: 1rem;
}

.add-markets {
 margin: 9rem 0rem 0 12.5rem;
 font-family: 'Quando', serif;
}

.add-products {
 margin: 5rem 0rem 2rem 12.5rem;
 font-family: 'Quando', serif;
}


.list-item {
  margin: 0 .2rem;
  list-style: none;
  height: 1.5rem;
  text-shadow: 1px 1px black;
  padding: .2rem;
  overflow: hidden;
}

.list-item:hover, .one-group:hover {
  font-weight: bold;
  font-size: 1.2rem;
}

/*market details*/
.user-details, .vendor-list-header, .sale-list-header {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
}

table {
  margin: 4rem 0 0 0;
  padding: .5rem;
  padding-right: 3rem;
  background-color: rgba(0, 0, 0, 0.51);
  text-shadow: 1px 1px black;
  border-radius: 1rem;
}

th {
  padding: 0;
  color: rgb(155, 155, 172);
}

td {
  padding: 0 1rem 0 1rem;
  font-family: 'Didact Gothic', sans-serif;
  text-align: center;
}

.form {
  margin: 4% 40% 0 0;
  padding: 2rem 1rem 1rem .5rem;
  background-color: rgba(0, 0, 0, 0.51);
  text-shadow: 1px 1px black;
  border-radius: 1rem;
}

.form label {
  width: 20%;
  float: left;
  text-align: right;
  margin-right: 1rem;
  display: block;
}

.form input {
  border-radius: .3rem;
  width: 70%;
  padding: .5rem;
  margin-bottom: .5rem;
}

.form .create_button {
  background-color: rgb(78, 124, 75);
  padding: 1rem .7rem;
  border-radius: .6rem;
  margin-top: 1%
  border: 1px solid rgb(103, 117, 103);
  color: rgb(240, 249, 240);
  box-shadow: 3px 3px 7px 0px rgba(50, 50, 50, 0.75);
  width: 8rem;
  margin-left: 24%;
  margin-right: 30%;
}

.form .create_button:hover {
  background-color: rgb(72, 134, 68);
}

.edit-markets {
  margin-bottom: 1.2rem;
  margin-left: -2.75rem;
}

.edit-markets:hover {
  color: rgb(72, 134, 68);
}

/*vendor list*/
.vendor-list-header {
  align-items: center;
  justify-content: space-around;
  width: 34.25rem;
}

.sale-list-header {
  margin-top: 2rem;
  align-items: center;
  justify-content: space-around;
  width: 34.25rem;
}

.add-vendor{
  margin: 0;
  padding-top: .5rem;
  padding-bottom: .5rem;
}

.vendor-list, .product-list {
  margin-top: 0;
  height: 58%;
  width: 31.25rem;
}

.one-group {
  width: 100%;
  flex-direction: row;
  display: flex;
  align-items: baseline;
  justify-content: space-between;
}

.one-group > .list-item {
  width: 70%;
}

.mutable-action-links > li {
  list-style: none;
  display: inline-block;
  visibility: hidden;

}

.one-group:hover .mutable-action-links > li {
  visibility: visible;
}

/*vendors styling*/

.vendors-list {
  font-size: 1rem;
  margin: 5rem 0 0 0;
  position: fixed;
  height: 80%;
  width: 34.25rem;

}

.sale-display {
  margin: .7rem 0 0 0;
  width: 36rem;

}

.sale-display th {
  width: calc(100%/3);
}
