// Place all the styles related to the homes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


div {
  padding: 40px;
  text-align: center;
}

div a {
  font-size: 1.75em;
  font-family: "Trebuchet MS", Helvetica, sans-serif;
  text-decoration: none;
}

#centered {
  text-align: center;
}
