// Place all the styles related to the markets controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import "font-awesome";

.fa-pencil-square-o{
  display: block;
  padding-top: 6vh;
color: #009900;
padding-left: 2vw;
}
.fa-pencil-square-o:hover{
  color: #009905;
}
