// Place all the styles related to the products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/




.new-product *{
  display: block;
  margin: 2vmin 0 2vmin 0;
}

.created-product *{
  margin: 2vmin 0 2vmin 0;
}

.created-product nav a {
  padding-right: 1vmin;
  font-size: 1.25em;
}

.button-party{
  padding: 0
}
.button-party li {
  display: inline-block;
  margin: 2vh;
}
