<h1>Markets</h1>
  <nav>
    <ul>
      <li> <%= link_to "Vendor Account", vendorindex_path %></li>
    </ul>
  </nav>
<article>
  <% @allmarkets.each do |ea_market| %>
    <h2><%= link_to ea_market.name, showmarket_path(ea_market.id) %></h2>
  <% end %>
</article>
