<section>
  <h1 class="list_title">View All Markets</h1>

  <div class="name_button">
    <p>Sort by Name</p>
  </div>
  <div class="state_button">
    <p>Sort by State</p>
  </div>

  <article class="full_list">
    <% @allmarkets.each do |ea_market| %>
      <p class="list_row">
        <%= link_to ea_market.name, showmarket_path(ea_market.id) %>
      </p>
    <% end %>
  </article>
</section>
