<head>
<title><%= @header = "Editing Product:" + @product.name %></title>
</head>
<div class="container">
<body class="market-view">

<%= render partial: "products_form", locals: { http_method: :patch }%>
