<h1>Products by Vendor:</h1>
<ol>
  <% @all_products_by_vendor.each do | product | %><li>
    <p>
      <%= link_to "#{product.name}", edit_vendor_product_path(vendor_id: product.vendor_id, id: product.id)%>
    </p>
  <% end %></li>
</ol>
