<h1>Add a New Product</h1>

<%= render partial: "form_product", locals: { submit_url: vendor_products_path, http_method: :post } %>

<h5> <%= link_to "Changed my mind, Go Back to All Products", vendor_products_path %></h5>
