<header>
  <nav>
    <h1>
      <%= link_to "FarMar", root_path, class: "page-link" %>
      <%= link_to "Vendors", vendors_path, class: "page-link" %>
      <%= link_to "#{@vendor.name}", vendor_path(@vendor.id), class: "page-link" %>
    </h1>
    <h2 class="user-header">Products</h2>
  </nav>
</header>

<div class='form-header'>
  <h1>Add a New Product</h1>
</div>

<%= render partial: "form_product", locals: { submit_url: vendor_products_path, http_method: :post } %>
