<%= render partial: "market_vendor_header" , locals: { action_name: "get"}%>

<h1><%= @product.name %> Info:</h1>

<p>Vendor Name: <%= @vendor %></p>

<h2>List of Product's Sales by Sale Amount:</h2>

<% @sale_list.each do |sale| %>
<article>
  <p>
    <%=link_to "$#{sale.amount/100.00}", show_sale_path(sale.id) %>
  </p>
  <% end %>
</article>
