<h3><%= @product.name %></h3>

<!-- This form doesn't need the ../ to let you know to go back up to the vendors view folder.  -->
<ul class='button-party'>
  <%= render partial: 'vendors/product_buttons', locals: {product_id: @product.id} %>

  <li>
      <%= render partial: 'sales/new_sale_button', locals: {product_id: @product.id} %>
  </li>

</ul>
