<h1><%= @product.name %></h1>

##### chnage to present name instead of id ######
<p><%= @product.vendor_id %></p>

<h1>List of product's sales</h1>
<% @sale_list.each do |sale| %>
<article>
  <p>
    <%= link_to "#{sale.amount}", show_sale_path(sale.id) %>
  </p>
  <% end %>
</article>
