<p>Product</p>

<p><%= @product.name %> <%= link_to("Create a product sale", new_vendor_product_sale_path(@vendor.id, @product.id)) %></p>

<!--  Alternative Syntax -->
<!-- <p><%# @product.name %> <%# link_to("Create a sale", [@vendor, @product]) %></p> -->
