<table>
  <tr>
    <th> Product </th>
    <th> Amount </th>
    <th> Sale Time </th>
  </tr>
  <% sales.each do |sale| %>
  <tr>
    <td><%= product_name(sale) %></td>
    <td><%= sprintf("$%0.02f", sale.amount/100.to_f) %></td>
    <td><%= sale.purchase_time %></td>
  </tr>
  <% end %>
  <% if sales.length == 0 %>
    <tr>
      <td> -
      </td>
      <td class="no-data"> No Sales Recorded </td>
      <td> -
      </td>
    </tr>
  <% end %>
</table>
