<h2><%= @vendor.name %></h2>
<h3>Current month sales:</h3>
<% sales_month(@vendor).each do |sale| %>
  <%= display_sales(sale) %>
<% end %>
<h3>All sales:</h3>
<ul>
<% @vendor.sales.each do |sale| %>
<li>
  <%= display_sales(sale) %>

</li>
<% end %>
</ul>
<p>This is the sales view index.html.erb</p>
