<h1>Sale's info</h1>

<h1><%= @sale.amount %></h1>
<p><%= @sale.purchase_time %></p>

##### chnage to present name instead of id ######
<p><%= @sale.vendor_id %></p>

##### chnage to present name instead of id ######
<p><%= @sale.product_id %></p>
