<h1>Here's your sale:</h1>

<p>
  <%= "Vendor id: #{ @sale.vendor_id }" %><br>
  <%= "Product id: #{ @sale.product_id }" %><br>
  <%= "Amount: #{@sale.amount}" %><br>
  <%= "Purchase Time: #{@sale.purchase_time}" %><br>

</p>
