<!DOCTYPE html>
<html>
<head>
  <title>FarMarRails</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= stylesheet_link_tag 'application', "https://fonts.googleapis.com/css?family=Catamaran|Nothing+You+Could+Do" %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
</head>
<body>

<%= yield %>

</body>
</html>
