<!DOCTYPE html>
<html>
<head>
  <title>FarMarRails</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
    <header>
      <h1 class='top-title'><a href='/'>FarMar Finder</a></h1>
      <nav class='top-nav'>
        <ul>
          <li><a href='about.html'>about</a></li>
          <li><a href='about.html'>about</a></li>
        </ul>
      </nav>
      <br class='clearfloat' />
    </header>

<%= yield %>

</body>
</html>
